wandb/
pf-template/
.vscode/
__pycache__/
dataset/kilt_nq/*.csv
dataset/kilt_hotpot
dataset/kilt_trivia
dataset/kilt_fever
dataset/kilt_wow
dataset/kilt_trex
dataset/kilt_nq
dataset/*.json
dataset/*.csv
src/config/*
slack.py
*.pickle
outputs
.ipynb_checkpoints
